label {
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

.input_area {
    background: #D2691E;
    font-size: 19px;
    border-radius: 15px;
    padding: 2em;
    width: 300px;
}

.area {
    display: flex;
    justify-content: center;
}

button {
    height: 3em;
    background-color: green;
    border-radius: 5px;
    color: white;
}

.input-padrao {
	display: block;
	margin: 0 0 20px;
	padding: 10px 25px;
	width: 50%;
}
